body{
    background-color: black;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    border-radius: 2px;
    background-color: rgba(14, 176, 168, 0.5);
    box-shadow: 2px 2px rgba(0, 0, 0, 0.8);
    padding: 10px;
    margin: 25px;
    color: white;
}

.home{
    margin-top: 5px;
    border-radius: 25px;
    height: 30px;
    width: 110px;
}

.home:hover{
    background-color: rgb(14, 176, 168,1);
    color: white;
    border-radius: 25px;
}

a{
    text-decoration: none ; 
    color:black;
}