body{
  background-color: black;
}

.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.d1 img,.d2 img,.d3 img,.d4 img,.d5 img,.d6 img,.d7 img,.d8 img,.d9 img{
  height: 300px;
  width: 300px;
  margin: 5px;
  padding: 5px;
}

h1{
  color: white;
}

.home{
  margin-top: 5px;
  border-radius: 25px;
  height: 30px;
  width: 110px;
}

.home:hover{
  background-color: rgb(14, 176, 168,1);
  color: white;
  border-radius: 25px;
}

a{
  text-decoration: none ; 
  color:black;
}

@media screen and (max-width:1000px) {
  .container{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9,1fr);
  }
}